<ion-header>
  <ion-navbar>
    <ion-title class="large-title">Solicitação de Crédito PJ</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background">
  <ion-list>
    <ion-item>
      <ion-label color="light" floating class="my-label">O valor disponível no momento é de</ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="bold"  class="my-label">R$14.000,00</ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="medium" floating class="my-label2"> Este valor pode mudar diariamente devido à nossa análise de crédito.</ion-label>
    </ion-item>
  </ion-list>
  <ion-button outline round color="tertiary"  (click)="buttonClick()" class="focus">NOVO EMPRÉSTIMO</ion-button>
  <ion-item-divider></ion-item-divider>
  <ion-list>
    <ion-item>
      <ion-label color="medium" floating class="my-label3"> Não há empréstimos anteriores. </ion-label>
    </ion-item>
  </ion-list>

</ion-content>